<app-banner></app-banner>
<main>
    <span>
        <h1><img src="../assets/svg/logo.svg" alt="Zodiac Singatistic"></h1>
        <p>as estrelas colocam as chances ao seu favor</p>
    </span>
    <ng-container *ngIf="!amostra">
        <app-form (amostra)="amostra = $event"></app-form>
    </ng-container>
    <ng-container *ngIf="amostra">
        <div id="combinacao">
            <div>
                <div><img [src]="'../assets/svg/'+amostra.signoUsuario.id+'.svg'" [alt]="amostra.signoUsuario.nome" /></div>
                <div><img [src]="'../assets/svg/'+amostra.signoCombinacao.id+'.svg'" [alt]="amostra.signoCombinacao.nome" /></div>
                <div><p>A sua Combinação foi<span>{{amostra.signoCombinacao.nome}}</span></p></div>
                <button (click)="amostra=null; filtro=false">Voltar</button>
            </div>
            <hr/>
            <div>
                <h2>{{amostra.signoUsuario.nome}} com {{amostra.signoCombinacao.nome}}</h2>

                <div id="amostra">
                    <div id="filtro">
                        <p><span></span> {{amostra.filtragem.idade}} <ng-container *ngIf="amostra.filtragem.idade != 'Todas Idades'">anos</ng-container></p>
                        <p><span>{{iconGener}}</span> {{amostra.filtragem.genero}}</p>
                    </div>
                    <ng-container *ngFor="let local of amostra.locais; let i=index">
                        <div>
                            <p><span>{{iconLocal[i]}}</span> {{local.nome}}</p>
                            <p><span></span>{{local.populacao | number }}</p>
                            <p>{{local.porcentagem | number:'1.2-2' }}%</p>
                        </div>
                    </ng-container>
                    
                </div>

                <div id="textos">
                    <div *ngFor="let item of getText(); let i = index">
                        <strong>{{subtitle[i]}}</strong>
                        <p>{{item}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    
</main>